.custom-logo {
  height: 50px;
  width: auto;
}

.top-bar {
  display: flex;
  background: var( --color-1);
  overflow: visible;
}
.top-bar>nav {
  flex: 1 0 auto;
  height: 50px;
}
.top-bar .custom-logo-link {
  height: 50px;
  margin-right: 1rem;
}

/* First Level Nav */

nav.navbar .menu {
  padding: 0;
  margin: 0;
  list-style: none;
  overflow: hidden;
}

nav.navbar>ul>li {
  float: left;
  height: 50px;
}

nav.navbar>ul>li>a {
  display: inline-block;
  box-sizing: border-box;
  height: 50px;
  text-decoration: none;
  padding: 14px 16px;
  color: var( --color-2 );
}
  
nav.navbar>ul>li>a:hover, nav.navbar>ul>li>a:focus {
  background-color: var( --color-2 );
  color: var( --color-1 );
}

/* Second Level Nav */

nav.navbar>ul>li>ul {
  display: none;
  position: absolute;
  min-width: 160px;
  padding: 0;
  z-index: 100;
}

nav.navbar>ul>li:focus-within>ul, nav.navbar>ul>li:hover>ul {
  display: block;
}

nav.navbar>ul>li>ul>li {
  display: block;
}

nav.navbar>ul>li>ul>li>a {
  display: block;
  padding: 14px 16px;
  background: var( --color-1);
  color: var( --color-2 );
  text-decoration: none;
  text-decoration: none;
  text-align: left;
}

nav.navbar>ul>li>ul>li>a:hover, nav.navbar>ul>li>ul>li>a:focus {
  background-color: var( --color-2 );
  color: var( --color-1 );
}

/* Skip Link */
a#theme-skip-link {
  position: fixed;
  display: block;
  padding: 1rem;
  top: -500px;
  left: 1rem;
  display: block;
  border-radius: 4px;
  background-color: var( --color-2 );
  border: 2px solid var( --color-1 );
}
a#theme-skip-link:focus {
  top: 1rem;
}