/* BLOCKS */
.wp-block-gallery, .wp-block-column   {
	margin: 0 0 0.5rem 0;
	padding: 0;
}
/* IMAGES */
.wp-caption {
	max-width: 100%;
}

figcaption, .wp-caption .wp-caption-text {
	text-align: center;
	font-style: italic;
	margin-bottom: 0.5rem;
}
/* END IMAGES */

/* blockquote */
.wp-block-pullquote blockquote {
	border-left: 0;
	padding-left: 0;
}

/* block buttons bugfix (editor) */
.wp-block-button {
	margin:  0.5rem;
}
.wp-block-button.is-style-squared>.wp-block-button__link {
	border-radius: 0;
}

/* block alignment */
.alignright {
	float: right;
	margin:  0.5rem 0 0.5rem 0.5rem;
}

.alignleft {
	float: left;
	margin:  0.5rem 0.5rem 0.5rem 0;
}

.aligncenter {
	display: block;
	margin: 0 auto;
}

/*  */
