html, body, p, dl, dt, dd, blockquote, figure, fieldset, form, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6, .wp-block-gallery, .wp-block-column   {
	margin: 0;
	margin-bottom: 0.5rem;
	padding: 0;
}

*:last-child {
	margin-bottom: 0;
}

*:first-child {
	margin-top: 0;
}

body {
	margin: 0;
	padding: 0;
	overflow-wrap: anywhere;
	background: var( --color-3 );
	overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 1rem;
}

li {
	margin: 0;
	padding: 0;
}

textarea {
	box-sizing: border-box;
	width: 100%;
	max-width: 100%;
	min-width: 100%;;
	padding: 0.5rem;
}
input {
	box-sizing: border-box;
	width: 100%;
	max-width: 100%;
	padding: 0.5rem;
}

input[type='checkbox'] {
	width: auto;
}

pre {
	max-width: 100%;
	overflow-x: auto;
}

/* block (container) elements */
header, footer, aside, article, section, div {
	clear: both;
}

/* IMAGES */
.wp-caption {
	max-width: 100%;
}

figcaption, .wp-caption .wp-caption-text {
	text-align: center;
	font-style: italic;
	margin-bottom: 0.5rem;
}

img {
	height: auto;
	max-width: 100%;
}
/* END IMAGES */

/* blockquote */
blockquote {
	border-left: 0.3rem solid var( --color-1 );
	padding-left: 1rem;
	margin-right: 1rem;
	margin-left: 1rem;
}

.wp-block-pullquote blockquote {
	border-left: 0;
	padding-left: 0;
}

/* block buttons bugfix (editor) */
.wp-block-button {
	margin:  0.5rem;
}
.wp-block-button.is-style-squared>.wp-block-button__link {
	border-radius: 0;
}

/* block alignment */
.alignright {
	float: right;
	margin:  0.5rem 0 0.5rem 0.5rem;
}

.alignleft {
	float: left;
	margin:  0.5rem 0.5rem 0.5rem 0;
}

.aligncenter {
	display: block;
	margin: 0 auto;
}

